<section class="phx-hero">
  <h1><%= gettext "Welcome to QR APP" %></h1>
  <p>This app was created for you to easily create your own QR and share it! 😀</p>
</section>

<section class="row">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <form action="#">
          <div class="form-group">
            <label for="qr">Paste your link / url / resource</label>
            <input type="text" placeholder='Paste here'>
          </div>
          <button class='btn btn-primary'>Create QR</button>
        </form>
      </div>
      <div class="col-md-6">
        
      </div>
    </div>
  </div>
</section>
